{% extends "noteapp/base.html" %}
{% load static %}


{% block title %}Notes - {{ note.name }}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container toolbox">
    <a class="button" href="{% url 'teamnotes-list-view'  %}">Team</a>
    <div class="empty-field"></div>
    <a class="button" href="{% url 'note-list-view' %}">Change</a>
</div>
{% endif %}
<div class="row">


    <div class="col article">
        <h1>{{ note.name }}</h1>
        {% if note.archived == True %}
        <p>Archived</p>
        {% endif %}
        <p>Date: </p>
    </div>

    <div class="col article">
        <p>{{ note.text }}</p>
    </div>

</div>
{% endblock content %}