{% extends "noteapp/base.html" %}
{% load static %}


{% block title %}Notes - {{ note.name }}{% endblock %}

{% block content %}
<div class="row">



{% if note.archived == False %}
    <div class="col article">
        <h1>{{ note.name }}</h1>
        <p>Date: </p>
    </div>

    <div class="col article">
        <p>{{ note.text }}</p>
    </div>
{% else %}
    <div class="col article">
        <h1>Note not available for viewing</h1>
        <hr>
        <p>The note is either not published or does not exist!</p>
        </div>
{% endif %}
</div>
{% endblock content %}