{% extends "noteapp/base.html" %}
{% load static %}
{% load markdown %}


{% block title %}{{ note.team.name }} - {{ note.name }}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container toolbox">
    <a class="button" href="{% url 'teamnotes-list-view' note.team_id %}">Team</a>
    <div class="empty-field"></div>
    <a class="button" href="{% url 'note-update-view' note.team_id note.id %}">Change</a>
    <a class="button" href="{% url 'archive-note' note.team_id note.id %}">
        {% if note.archived %}Unarchive note{% else %}Archive note{% endif %}
    </a>
    {% if note.archived %}
    <a class="button red-button" href="{% url 'note-delete-view' note.team_id note.id %}">Delete</a>
    {% endif %}
</div>
{% endif %}
<div class="row">


    <div class="col article">
        <h1>{{ note.name }}</h1>
        {% if note.archived %}
        <p>Archived</p>
        {% endif %}
        <hr>
        <p>Date of creation: {{note.date_create}}</p>
        <p>Date of change: {{note.date_change}}</p>
    </div>

    <div class="col article">
        <div class="markdown-body">{{ note.text | markdown | script_escape | safe }}</div>
    </div>

</div>
{% endblock content %}