{% extends "noteapp/base.html" %}
{% load static %}

{% block title %}{{title}} - {{request.user.username}}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <div class="container toolbox">
        <a class="button" href="{% url 'team-create-view' request.user.id %}">Create team</a>
    </div>
    {% endif %}
<div class="row">

    {% for team in teams %}
    <a href="{{ team.get_absolute_url }}" class="col">

        <h1>{{ team.name }}</h1>
        <hr>
        <p>Notes count: {{team.notes.count}}</p>
    </a>
    {% endfor %}

    {% if not teams %}
    <div class="col article">
        <h3>It's empty here for now</h3>
        <hr>
        <p>Please visit this site later.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}