{% extends "noteapp/base.html" %}
{% load static %}

{% block title %}Team - {{team.name}}{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container toolbox">
    <a class="button" href="{% url 'userteams-detail-view' request.user.id %}">Teams</a>
    <div class="empty-field"></div>
    <a class="button" href="{% url 'teamnote-create-view' team_id %}">Add note</a>
</div>


<div class="row">

    {% for note in notes %}
    <a href="{{ note.get_absolute_url }}" class="col">

        <h1>{{ note.name }}</h1>
        <hr>
        <p>Date: {{ note.date_create}}</p>
    </a>
    {% endfor %}

    {% if not notes %}
    <div class="col article">
        <h3>It's empty here for now</h3>
        <hr>

        <p>No article has been published or does not exist!</p>
        <p>Please visit this site later.</p>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock content %}