{% extends "noteapp/base.html" %}
{% load static %}

{% block title %}Teams - {{request.user.username}}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <div class="container toolbox">
        <a class="button" href="{% url 'note-list-view' %}">Create team</a>
    </div>
    {% endif %}
<div class="row">

    {% for team in user.teams.all %}
    <a href="{{ team.get_absolute_url }}" class="col">

        <h1>{{ team.name }}</h1>
        <hr>
        <p>Notes count: {{team.notes.count}}</p>
    </a>
    {% endfor %}

    {% if not user.teams.all %}
    <div class="col article">
        <h3>It's empty here for now</h3>
        <hr>

        <p>No article has been published or does not exist!</p>
        <p>Please visit this site later.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}