{% extends "noteapp/base.html" %}
{% load static %}

{% block title %}User - {{ user.username }}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container toolbox">
    <a class="button" href="{% url 'userteams-detail-view' request.user.id %}">Teams</a>
    <a class="button" href="{% url 'ownteams-list-view' request.user.id %}">Own teams</a>
    <div class="empty-field"></div>
    <a class="button" href="{% url 'password_change' %}">Change password</a>
</div>
<div class="row">
    <div class="col article">
        <h1>{{ user.username }}</h1>
        <p>{{ user.first_name }} {{user.last_name}}</p> 
    </div>
    <div class="col article">
        <p>Email: {{user.email}}</p>
        <p>Date of registration: {{user.date_joined}}</p>
    </div>
</div>
{% endif %}
{% endblock content %}